.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.content {
  flex: 1;
}

.backToHome {
  margin: 3rem 0 0;
}
